<nav>
    <div class="nav-wrapper brown lighten-1">
        <a href="{{ url_for('index') }}" class="brand-logo">LoL Stats</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <form action="/analysis-page" method="post" id="player-form">
                    <div class="row">
                        <div class="col s4 input-field">
                            <input id="player_name" type="text" name="player_name" placeholder="Nick" required>
                        </div>
                        <div class="col s4 input-field">
                            <input id="player_tag" type="text" name="player_tag" placeholder="Tag" required>
                        </div>
                        
                        <div class="col s4">
                            <button type="submit" class="waves-effect waves-light brown darken-2 btn">Analisar</button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>